body {
    font-family: 'Courier New', Courier, monospace;
}

h1, h3{
    text-align: center;
}

button {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: block;
}

div#list {
    text-align: center;
}

ol#zad1 {
    display: inline-block;
    text-align: left;
}

p#zad1 {
    text-align: center;
    font-weight: bold;
}

.hidden{
    visibility: hidden;
}

input {
    margin: 0 auto;
    display: block;
    width: 600px;
}